<div class="navbar">
  <div class="socials">
    <div class="facebook"></div>
  </div>

  <a routerLink="/home" class="nav-icon" aria-label="Visit homepage" aria-current="page">
    <img src="../../../assets/png/logo.png" alt="Logo"/>
  </a>

  <div class="nav-links">
    <button class="hamburger" [class.open]="this._hamburgerOpen" (click)="isHamburgerOpen()" type="button"
            aria-label="Toggle navigation" aria-expanded="true">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="navlinks-container" [class.open]="this._hamburgerOpen">
      <a href="#bar">Bar</a>
      <a href="#escape">Escape Game</a>
      <a href="#arcade">Arcade</a>
    </div>
  </div>
</div>

