
  <div class="navbar">
    <div class="socials">FB</div>

    <a href="#" class="nav-icon" aria-label="Visit homepage" aria-current="page">
      <img src="../../../assets/png/logo.png" alt="Logo"/>
    </a>

    <div class="nav-links">
      <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navlinks-container">
        <a href="#" aria-current="page">Bar</a>
        <a href="#">Escape Game</a>
        <a href="#">Arcade</a>
      </div>
    </div>
  </div>

