$font0: Arial, Helvetica, sans-serif;
$font1: Roboto;
$font2: RobotoBlack;

$colorBG: #101010;
$colorText: #fafafa;
$colorTextSelected: #01ffff;

$colorDark: #101010;
$colorLight: #fafafa;

.container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;

  background-image: url(../../../assets/png/background.png);
  background-size: contain;

  .displayNone {
    display: none;
  }

  .card {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin: 50px 0;

    .picture {
      max-width: 100%;
    }

    .title {
      position: absolute;
      top: 20px;
      width: 90%;
      border-radius: 15px;
      background: #ffffff20;
      font-size: 2em;
      text-align: center;
      color: $colorTextSelected;
    }

    .content {
      position: absolute;
      display: flex;
      top: 70px;
      width: 90%;
      height: calc(95% - 70px);
      color: $colorText;
      padding: 5px 10px;

      .left {
        // flex-grow: 1;
        // flex-shrink: 2;
        width: 55%;
      }

      .right {
        // flex-grow: 0;
        // flex-shrink: 1;
        width: 45%;
        border: 2px solid $colorLight;
        border-radius: 10px;
        padding: 5px 10px;
        text-align: center;

        .h3 {
          width: 100%;
          font-size: .5em;
        }

        article {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 10px 0;

          img {
            width: 25%;
          }

          h4{
            width: 75%;
            align-self: center;
            font-size: .5em;
          }
        }
      }
    }

    ul{
      list-style: none;
      margin-bottom: 20px;
      font-size: .5em;
    }

    p{
      font-size: .5em;
    }
  }



  .coordinates {
    margin: 30px 0;
    width: 70%;
    border-radius: 15px;
    background: #ffffff20;

    p {
      color: $colorText;
      text-align: center;
      font-size: large;
      font-weight: bolder;
      padding: 10px 0;
      line-height: 1.5em;
    }
  }

  .hours {
    margin: 30px 0;
    width: 70%;
    border-radius: 15px;
    background: #ffffff20;

    p {
      color: $colorText;
      text-align: center;
      font-size: large;
      font-weight: bolder;
      padding: 10px 0;
      line-height: 1.5em;
    }
  }
}
