$font0: Arial, Helvetica, sans-serif;
$font1: Roboto;
$font2: RobotoBlack;

$colorBG: #101010;
$colorText: #fafafa;
$colorTextSelected: #01ffff;
$colorBgTitle: #ffffff20;
$colorBgText: #01010195;

$colorDark: #101010;
$colorLight: #fafafa;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  background-image: url(../../../assets/png/background.png);
  background-size: contain;

  .empty {
    height: 12vh;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    margin: 10px 0;

    .picture {
      max-width: 100%;
    }

    .title {
      position: absolute;
      top: 20px;
      width: 90%;
      border: none;
      border-radius: 15px;
      background: $colorBgTitle;
      font-size: 3em;
      text-align: center;
      color: $colorTextSelected;
      cursor: pointer;
    }

    p {
      color: $colorText;
      font-size: 1.5em;
      padding-top: 1em;
    }

    .content {
      position: absolute;
      top: 15%;
      display: flex;
      width: 90%;
      height: 80%;
      color: $colorText;
      padding: 5px 10px;
      background: $colorBgText;
      border-radius: 10px;

      .left {
        width: 55%;

        ul {
          list-style: none;
          margin-bottom: 20px;
          font-size: .9em;
        }
        
        p {
          padding: 0;
          font-size: .70em;
        }
      }

      .right {
        // flex-grow: 0;
        // flex-shrink: 1;
        width: 45%;
        border: 2px solid $colorLight;
        border-radius: 10px;
        padding: 5px 10px;
        text-align: center;

        .h3 {
          width: 100%;
          font-size: 0.9em;
        }

        article {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 10px 0;

          img {
            width: 25%;
          }

          h4 {
            width: 75%;
            align-self: center;
            font-size: 0.8em;
          }
        }
      }
    }
  }

  .coordinates {
    margin-top: 50px;
    width: 70%;
    border-radius: 15px;
    background: #ffffff20;

    p {
      color: $colorText;
      text-align: center;
      font-size: large;
      font-weight: bolder;
      padding: 10px 0;
      line-height: 1.5em;
    }
  }

  .hours {
    margin-top: 25px;
    margin-bottom: 50px;
    width: 70%;
    border-radius: 15px;
    background: #ffffff20;

    p {
      color: $colorText;
      text-align: center;
      font-size: large;
      font-weight: bolder;
      padding: 10px 0;
      line-height: 1.5em;
    }
  }
}
